
/* Home page-de kicik olcude hamburger cixmir */
/* home page-de footer kicik olcude soze qulaq asmir) */





* {
    box-sizing: border-box;
}

/* ADMIN PANEL START */

/* Left Admin panel top start */

.left-container {
    background-color: #720418;
    height: 100%;
    width: 355px;
    position: fixed;
    top: 0;
    left: 0;
}

/* .left-navbar {
     background-color: #231b88;
    width: 355px;
    height: 100vh;
} */

.navs-library {
    width: 208px;
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
}

.navs-top {
    display: flex;
    margin-top: 85px;
    margin-left: 35px;
}

.navs-top i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.navs-library :first-child {
    font-weight: 900;
    margin-bottom: 6px;
    color: #fff;
    font-size: 14px;
}

.navs-library :nth-child(3) {
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    
}

.navs-library div {
    width: 200px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 6px;
}

/* Left Admin panel bottom */

.navs-bottom {
    display: flex;
    background-color: #720418;
    width: 355px;
} 

.navs-img {
    display: flex;
    flex-direction: column;
    margin-top: 60px;  
    margin-left: 40px;
}
.navs-bottom ul {
    margin-top: 72px;
    margin-left: 15px;
}

.navs-bottom ul li {
    color: #fff;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.navs-img img {
    margin-bottom: 35px;
}

/* right admin panel top */

.right-admin-panel {
    margin-left: 390px;
    margin-right: 100px;
    height: 100%;
}

.add-book {
    margin-top: 130px;
}

.add-book div {
    margin-top: 30px;
}

.add-book h1 {
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    color: #333333;
}

.add-book p {
    width: 115px;
    height: 35px;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    color: #333333;
    background-color: #fff;
}

.add-book input {
    margin-top: 5px;
    border-radius: 35px;
    width: 400px;
    height: 40px;
    border: 2px solid rgba(57, 31, 0blue, 0.5alpha);
}

.add-book i {
    width: 60px;
    height: 40px;
    border-radius: 35px;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #ff8b00;
    cursor: pointer;
}

::placeholder {
    text-align: center;
}

/* book form */

.book-form {
    margin-top: 170px;
}

.book-form p {
    color: #333333;
    width: 200px;
    height: 35px;
    font-weight: 600;
    font-size: 18px;
}

.book-form input {
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    border-radius: 10px;
    color: #E2E6EE;
    border: 1px solid #E2E6EE;
}

.book-form textarea {
    box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
    border-radius: 10px;
    color: #E2E6EE;
    border: 1px solid #E2E6EE;
}

.book-form button {
    height: 40px;
    background: #ff8b00;
    border-radius: 10px;
}
 
/* join us */

.join-us {
    margin-top: 170px;
}

.join-us p {
    font-weight: 600;
    color: #333333;
    width: 120px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
thead {
    background-color:#720418;
    color: #fff;
}

/* contact */

.contact {
    margin-top: 150px;
    margin-bottom: 200px;
}

.phone-menu {
    background-color: #720418;
    display: flex;
    padding: 15px;
    display: none; 
}

.phone-menu i {
    color: #fff;
    font-size: 35px;
    margin-left: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .left-container {
        display: none;
    }
    .right-admin-panel {
       margin-left: 10px;
    }
    .add-book input {
        width: 250px;
    }

    .phone-menu {
        /* display: block; */
    }

  
}

/* ADMIN PANEL END */

/* ADMIN LOGIN START*/

 .admin-login{
    background-color: #720418;
    height: 100%;
}

.login-panel {
    background-color: #fff;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    padding: 40px;
}

.login-panel h1 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.panel {
    display: flex;
    text-align: center;
    justify-content: center;
}

.panel button {
    background: #ff8b00;
    margin-top: 30px;
}
/* For phone */
@media screen and (max-width: 480px){
    .login-panel h1{
        font-size: 20px;
    }

    /* .home-icon {
        display: block;
    } */
}

/* ADMIN LOGIN END*/

/* HOME PAGE START */

/* header */

.home-icon {
    display: none;
}